.Landing-page{
    background-color: #f4f5f7;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Landing-container{
   width: 350px;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
  height: fit-content; 
  box-sizing: border-box;
  
}   
.btn{
    background-color: rgb(31, 31, 221);
    color: white;
    border: none;
    width: 100%;
  padding: 12px;
  margin: 10px;
  cursor: pointer;
  border-radius: 23px;

}

